<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Sahyog App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/search">Search for Jobs</a>
        <a class="nav-link" href="/postjobnew">Post a Job</a>
        <a class="nav-link" href="/showPostings">Jobs Posted By You</a>
      </div>
    </div>
  </nav>