<% layout('layouts/boilerplate') %>
<div class="row">
            <div class="col-6 offset-3">
                <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Sorry! No jobs being posted by this Id </h4>
            </div>
        </div>
    </div>